:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffc759;
  --secondary: #303849;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: n27 !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.ant-btn-primary {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 600;
  font-family: n27;
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):active {
  background-color: #ffc759;
  color: var(--secondary);
  font-weight: 600;
  font-family: n27;
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #ffc759;
  color: var(--secondary);
  font-weight: 600;
  font-family: n27;
}

.ant-input-outlined:hover {
  border-color: var(--primary);
  font-family: n27;
}

.ant-input-outlined:focus-within {
  border-color: var(--primary);
  font-family: n27;
}

.ant-input-affix-wrapper:focus {
  border-color: var(--primary);
  font-family: n27;
}
.ant-table-container {
  font-family: n27;
}
.ant-modal-title {
  font-family: n27;
}

.anticon-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.ant-btn-default {
  color: var(--secondary);
  border-color: var(--secondary);
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):active,
.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector,
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):focus
  .ant-select-selector,
.ant-select-focused:where(
    .css-dev-only-do-not-override-1x0dypw
  ).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customise-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: var(--primary);
}
